user:
    resource: "@UserBundle/Controller/"
    type:     annotation
    prefix:   /

fos_user_resetting_reset:
    path: /resetting/reset/{token}
    defaults: { _controller: UserBundle:Resetting:reset }

app_content:
    resource: "@AppBundle/Controller/ContentController.php"
    type:     annotation

app:
    resource: '@AppBundle/Controller/BaseController'
    type: annotation

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

api:
    type: rest
    resource: AppBundle\Controller\ApiController\ApiController

api_login_check:
    path: /api/login_check