{% extends "base.html.twig" %}


{% block stylesheets %}

{% endblock %} 

{% block body %}



        {% for label, flashes in app.session.flashbag.all %} {% for flash in flashes %}
            <div class="col-lg-12 col-xs-12" id="message" data-type="{{ label }}" data-flash="{{ flash }}"></div>
        {% endfor %} {% endfor %}

        <div>
            {% block fos_user_content %}
            
            {% endblock fos_user_content %}
        </div>
{% endblock %}




{% block javascripts %}
{% endblock %} 